* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #222;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  padding: 40px 35px;
  border-radius: 15px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  height: 60px;
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  border-radius: 30px;
  flex: 1;
  font-size: 18px;
  margin-right: 16px;
}

.search button {
  width: 60px;
  height: 60px;
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  cursor: pointer;
}

.search button img {
  width: 20px;
}

.weather-icon {
}
